/* RTL Support for Arabic Language */

/* Body Direction */
[dir="rtl"] body * {
    direction: rtl;
    /* text-align: right; */
}

/* Text Alignment */
[dir="rtl"] .text-left {
    text-align: right;
}

[dir="rtl"] .text-right {
    text-align: left;
}

/* Floats */
[dir="rtl"] .float-left {
    float: right;
}

[dir="rtl"] .float-right {
    float: left;
}

/* Margin and Padding */
[dir="rtl"] .ml-1,
[dir="rtl"] .mx-1 {
    margin-left: 0;
    margin-right: 0.25rem;
}

[dir="rtl"] .mr-1,
[dir="rtl"] .mx-1 {
    margin-right: 0;
    margin-left: 0.25rem;
}

[dir="rtl"] .ml-2,
[dir="rtl"] .mx-2 {
    margin-left: 0;
    margin-right: 0.5rem;
}

[dir="rtl"] .mr-2,
[dir="rtl"] .mx-2 {
    margin-right: 0;
    margin-left: 0.5rem;
}

[dir="rtl"] .ml-3,
[dir="rtl"] .mx-3 {
    margin-left: 0;
    margin-right: 1rem;
}

[dir="rtl"] .mr-3,
[dir="rtl"] .mx-3 {
    margin-right: 0;
    margin-left: 1rem;
}

[dir="rtl"] .ml-4,
[dir="rtl"] .mx-4 {
    margin-left: 0;
    margin-right: 1.5rem;
}

[dir="rtl"] .mr-4,
[dir="rtl"] .mx-4 {
    margin-right: 0;
    margin-left: 1.5rem;
}

[dir="rtl"] .ml-5,
[dir="rtl"] .mx-5 {
    margin-left: 0;
    margin-right: 3rem;
}

[dir="rtl"] .mr-5,
[dir="rtl"] .mx-5 {
    margin-right: 0;
    margin-left: 3rem;
}

[dir="rtl"] .pl-1,
[dir="rtl"] .px-1 {
    padding-left: 0;
    padding-right: 0.25rem;
}

[dir="rtl"] .pr-1,
[dir="rtl"] .px-1 {
    padding-right: 0;
    padding-left: 0.25rem;
}

[dir="rtl"] .pl-2,
[dir="rtl"] .px-2 {
    padding-left: 0;
    padding-right: 0.5rem;
}

[dir="rtl"] .pr-2,
[dir="rtl"] .px-2 {
    padding-right: 0;
    padding-left: 0.5rem;
}

[dir="rtl"] .pl-3,
[dir="rtl"] .px-3 {
    padding-left: 0;
    padding-right: 1rem;
}

[dir="rtl"] .pr-3,
[dir="rtl"] .px-3 {
    padding-right: 0;
    padding-left: 1rem;
}

[dir="rtl"] .pl-4,
[dir="rtl"] .px-4 {
    padding-left: 0;
    padding-right: 1.5rem;
}

[dir="rtl"] .pr-4,
[dir="rtl"] .px-4 {
    padding-right: 0;
    padding-left: 1.5rem;
}

[dir="rtl"] .pl-5,
[dir="rtl"] .px-5 {
    padding-left: 0;
    padding-right: 3rem;
}

[dir="rtl"] .pr-5,
[dir="rtl"] .px-5 {
    padding-right: 0;
    padding-left: 3rem;
}

[dir="rtl"] .mr-auto,
[dir="rtl"] .mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

[dir="rtl"] .ml-auto,
[dir="rtl"] .mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

/* Bootstrap Components */
[dir="rtl"] .dropdown-menu {
    right: 0;
    left: auto;
}

[dir="rtl"] .dropdown-menu-left {
    right: auto;
    left: 0;
}

[dir="rtl"] .dropdown-menu-right {
    right: 0;
    left: auto;
}

[dir="rtl"] .list-group-item {
    padding-right: 1.25rem;
    padding-left: 0;
}

[dir="rtl"] .list-group-item i {
    margin-right: 0;
    margin-left: 0.5rem;
}

[dir="rtl"] .nav-tabs {
    padding-right: 0;
}

[dir="rtl"] .nav-tabs .nav-link {
    margin-right: 0.2rem;
    margin-left: 0;
}

[dir="rtl"] .navbar-nav {
    padding-right: 0;
}

[dir="rtl"] .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0.5rem;
}

[dir="rtl"] .navbar-brand {
    margin-right: 1rem;
    margin-left: 0;
}

[dir="rtl"] .breadcrumb-item+.breadcrumb-item {
    padding-right: 0.5rem;
    padding-left: 0;
}

[dir="rtl"] .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    padding-right: 0.5rem;
    padding-left: 0;
}

/* Tables */
[dir="rtl"] .table th {
    text-align: right;
}

[dir="rtl"] .text-start {
    text-align: right;
}

[dir="rtl"] .text-end {
    text-align: left;
}

/* Forms */
[dir="rtl"] .form-check {
    padding-right: 1.25rem;
    padding-left: 0;
}

[dir="rtl"] .form-check-input {
    margin-right: auto;
    margin-left: 0;
}

[dir="rtl"] .form-check-label {
    margin-right: 0.25rem;
    margin-left: 0;
}

/* Custom Components */
[dir="rtl"] .sidebar {
    right: 0;
    left: auto;
}

[dir="rtl"] .main-content {
    margin-right: 250px;
    margin-left: 0;
}

[dir="rtl"] .card {
    text-align: right;
}

[dir="rtl"] .card-header {
    text-align: right;
}

[dir="rtl"] .btn-group>.btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

[dir="rtl"] .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/* Arabic Font */
[dir="rtl"] body {
    font-family: 'Lalezar', 'Tahoma', sans-serif;
}

/* For AdminLTE */
@media (min-width: 991.98px) {
    [dir="rtl"] .content-wrapper {
        margin-right: 250px;
        margin-left: 0;
    }
}

[dir="rtl"] .main-sidebar {
    right: 0;
    left: auto;
}

[dir="rtl"] .overlay {
    right: -100%;
}
[dir="rtl"] .overlay.open {
    right: 0;
}

[dir="ltr"] .overlay {
    left: -400px;
}
[dir="ltr"] .overlay.open {
    left: 0;
}



@media (max-width: 775px) {
    [dir="rtl"] .main-sidebar {
        right: -250px;
    }

    [dir="ltr"] .main-sidebar {
        left: 0;
    }

    [dir="rtl"] .main-sidebar.sidebar-open {
        right: 0;
    }

    [dir="ltr"] .main-sidebar.sidebar-open {
        left: 250px;
    }
}

[dir="rtl"] .main-header .navbar {
    padding-right: 0;
}

[dir="rtl"] .main-header .logo {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

[dir="rtl"] .navbar-nav>.user-menu>.dropdown-menu {
    right: 0;
    left: auto;
}

[dir="rtl"] .sidebar-menu>li>a {
    padding-right: 15px;
    padding-left: 0;
}

[dir="rtl"] .sidebar-menu>li>a>i {
    margin-right: 10px;
    margin-left: 0;
}

[dir="rtl"] .sidebar-menu>li>a .pull-right-container {
    float: left;
    margin-left: 5px;
    margin-right: 0;
}

[dir="rtl"] .sidebar-menu li.active>a>.pull-right-container>i {
    transform: rotate(180deg);
}

[dir="rtl"] .control-sidebar {
    right: -250px;
    left: auto;
}

[dir="rtl"] .control-sidebar-open .control-sidebar {
    right: 0;
    left: auto;
}

[dir="rtl"] .pagination>li>a {
    margin-right: 5px;
    margin-left: 0;
}

[dir="rtl"] .pagination>li:first-child>a {
    margin-right: 0;
}

[dir="rtl"] .pagination>.disabled>a,
[dir="rtl"] .pagination>.disabled>span {
    margin-right: 5px;
    margin-left: 0;
}

/* Specific fixes for the application */
[dir="rtl"] .navbar ul li {
    padding: 0px 10px;
}

[dir="rtl"] .nav {
    padding-right: 0;
    padding-left: auto;
}

[dir="rtl"] .footer {
    text-align: center;
}

[dir="rtl"] .social-icons li {
    margin-right: 10px;
    margin-left: 0;
    float: right;
}

[dir="rtl"] .form-group {
    text-align: right;
}

[dir="rtl"] .help-block {
    text-align: right;
    margin-right: 5px;
    margin-left: 0;
}

[dir="rtl"] .ml-auto,
[dir="rtl"] .mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

[dir="rtl"] .chosen-container-multi .chosen-choices li {
    float: right;
}

@media (min-width: 768px) {

    [dir="rtl"] body:not(.sidebar-mini-md) .content-wrapper,
    [dir="rtl"] body:not(.sidebar-mini-md) .main-footer,
    [dir="rtl"] body:not(.sidebar-mini-md) .main-header {
        transition: margin-right .3s ease-in-out;
        margin-right: 250px;
        margin-left: 0 !important;
    }
}

/* @media (min-width: 992px) { */

[dir="rtl"].sidebar-mini.sidebar-collapse .content-wrapper,
[dir="rtl"].sidebar-mini.sidebar-collapse .main-footer,
[dir="rtl"].sidebar-mini.sidebar-collapse .main-header {
    margin-right: 4.6rem !important;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
    width: 4.6rem;
}

.sidebar-mini .nav-sidebar,
.sidebar-mini .nav-sidebar .nav-link,
.sidebar-mini .nav-sidebar>.nav-header {
    white-space: nowrap;
    overflow: hidden;
}

/* } */