@use "variables" as *;
@use "mixins" as *;

.no-padding {
    padding: 0;
}

.start-hidden {
    display: none;
}

.no-shadow {
    @include vendor(box-shadow, none !important);
    @include vendor(outline, none !important);
    appearance: none !important;
    -webkit-appearance: none !important;
}

.border-bottom {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0;
}

.border-radius {
    @include vendor(border-radius, $standard-radius);
}

@media (max-width: $mq-tiny) {
    .hidden-xxxs {
        display: none;
    }
}

@media (max-width: $phone) {
    .hidden-xxs {
        display: none;
    }

    .margin-half-phone {
        margin: 0.5em;
    }

    .margin-bottom-half-phone {
        margin-bottom: 1em;
    }

    .margin-top-half-phone {
        margin-top: 1em;
    }
}

@media (max-width: $tablet) {
    .margin-half-tablet {
        margin: 0.5em;
    }

    .margin-bottom-half-tablet {
        margin-bottom: 1em;
    }

    .margin-top-half-tablet {
        margin-top: 1em;
    }
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: $bs4-phone) {
    .rounded-left-sm-up {

        border-top-left-radius: $border-radius !important;
        border-bottom-left-radius: $border-radius !important;
    }
}
@media (min-width: $tablet) {
    .rounded-left-md-up {
        border-top-left-radius: $border-radius !important;
        border-bottom-left-radius: $border-radius !important;
    }
}

@mixin generate-margins {
    @each $type in $types {
        @each $direction in $directions {
            @for $i from 0 through ($num-of-classes) - 1 {
                .#{$type}-#{$direction}-#{$i} {
                    #{$type}-#{$direction}: (#{$i}em);
                }
            }
        }
        @each $query, $z in $queries {
            @media (min-width: #{$query}) {
                @each $direction in $directions {
                    @for $i from 0 through ($num-of-classes) - 1 {
                        .#{$type}-#{$direction}-#{$z}-#{$i} {
                            #{$type}-#{$direction}: (#{$i}em);
                        }
                    }
                }
            }
        }
    }
}
@include generate-margins();
